@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

// colors
$accent_color: #f08000;
$font_color: black;
$body_background: white;

// typography
$font_family: 'Roboto', sans-serif;
$font_weight: 400;
$font_family_2: 'Roboto', sans-serif;
$font_weight_2: 900;
$line_height: 1.4em;
$font_size_menu: 1.6rem;
$font_size_title: 1.7rem;

// geometry
$layout_width: 40rem;
$layout_padding: 0.5rem;

