{% extends "home/base.html" %}
{% load wagtailcore_tags static wagtailimages_tags %}
    {% block content %}
        {% include "home/menu.html" %}
        <main>
            <article>
                <section class="gallery">
                    <ul>
                        {% for work in page.get_children.live.specific %}
                            {% image work.coverimage fill-900x900 jpegquality-90 as img %}
                                <a href="{% pageurl work %}">
                                    <li>
                                        <figure>
                                            <!-- div class="portfolio_item"
                                                 style="background: url({{ img.url }})"
                                            >
                                            </div -->
                                            <img src="{{img.url}}">
                                            <figcaption>{{ work.title }}</figcaption>
                                        </figure>
                                    </li>
                                </a>
                        {% endfor %}
                    </ul>
                </section>
            </article>
        </main>
    {% endblock content %}
