{% load static wagtailcore_tags %}
        <header>
            <div class="nav_container">
                <input type="checkbox" id="menu_checkbox">
                <div id="menu_button">
                    <label for="menu_checkbox">
                        <img src="{% static "logo.png" %}"/>
                    </label>
                </div>
                <nav>
                    <ul>
                        {% with self.get_site.root_page.specific as root %}
                            {% for child in root.get_children.live.in_menu %}
                                <a href="{% pageurl child %}"
                                    {% if self.id == child.id %}
                                        class="active"
                                    {% endif %}
                                >
                                    <li>
                                        {{ child }}
                                    </li>
                                </a>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </nav>
            </div>
        </header>

