{% extends "home/base.html" %}
{% load wagtailcore_tags static wagtailimages_tags %}

{% block content %}
    {% include "home/menu.html" %}
    <main>
        <article>
            {% for block in page.body %}
                <section>
                    {% if block.block_type == 'Picture_variable' %}
                        {% image block.value.image width-1200 jpegquality-90 as img %}
                        <img src="{{ img.url }}" style="width: {{block.value.size}}%;" />
                    {% elif block.block_type == 'Multiple_pictures' %}
                        <ul class="multiple_pictures">
                            {% for img in block.value %}
                                <li>
                                    {% image img width-500 jpegquality-85 %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% include_block block %}
                    {% endif %}
                </section>
            {% endfor %}
        </article>
    </main>
{% endblock content %}

